@media (min-width: 845px) {
    .intro-body .container {
        margin-top: 200px;
    }
}
#mainNav {
    padding-top: 0!important;
    padding-bottom: 0!important;
}
.intro-body .card .card-body {
    height: 150px;
}
#widget-container {
    padding: 0;
    display: none;
}

#widget-container h2, p{
    margin-bottom: 0!important;
}

#currency-select-container {
    margin-top: 2rem;
    display: none;
}
#table-container {
    display: none;
}
#table-date {
    margin: 0;
}

#change-date {
    padding: 5px 5px;
    margin: 4px 5px 8px;
}

#weather-icon {
    width: 95px;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
}
#nbp .dropdown {
    padding-top: 1rem;
}
#wykresy {
    height: calc(100vh - 150px);
    max-height: calc(100vh - 100px);
}
#selectState {
    display: none;
}

.gradient {
    background: rgba(16,107,128,1);
    background: -moz-linear-gradient(top, rgba(16,107,128,1) 0%, rgba(21,45,140,1) 47%, rgba(1,8,36,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(16,107,128,1)), color-stop(47%, rgba(21,45,140,1)), color-stop(100%, rgba(1,8,36,1)));
    background: -webkit-linear-gradient(top, rgba(16,107,128,1) 0%, rgba(21,45,140,1) 47%, rgba(1,8,36,1) 100%);
    background: -o-linear-gradient(top, rgba(16,107,128,1) 0%, rgba(21,45,140,1) 47%, rgba(1,8,36,1) 100%);
    background: -ms-linear-gradient(top, rgba(16,107,128,1) 0%, rgba(21,45,140,1) 47%, rgba(1,8,36,1) 100%);
    background: linear-gradient(to bottom, rgba(16,107,128,1) 0%, rgba(21,45,140,1) 47%, rgba(1,8,36,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#106b80', endColorstr='#010824', GradientType=0 );
}
